# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vue.js
dist/
*.local
.env.local
.env.*.local

# Editor/IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS (Windows/macOS/Linux)
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Dependency caching
.pnp/
.pnp.js

# Other
package-lock.json
